<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Veículo</title>
</head>
<body>

<h1>Cadastro de Veículo</h1>

<form action="/cadastro" method="post"><!--importante prestar atenção -->

    <label>Placa:</label>
    <input type="text" name="placa">

    <br><br>

    <label>Modelo:</label>
    <input type="text" name="modelo">

    <br><br>

    <label>Tipo:</label>
    <input type="text" name="tipo">

    <br><br>

    <button type="submit">Cadastrar</button>

</form>

</body>
</html>